fail_fast: true

repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --manifest-path confguard/Cargo.toml -- --check
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --manifest-path confguard/Cargo.toml -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
