[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "*"
pydantic = {extras = ["dotenv"], version = "*"}  # required by environment.py
typer = "*"
pyyaml = "*"
tomlkit = "*"

[dev-packages]
black = "*"
coverage = "*"
build = "*"
bump2version = "*"
flake8 = "*"
flake8-bugbear = "*"
ipython = "*"
isort = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
#pytest-freezegun = "*"  # time freezer
scriv = "*"
#sphinx = "*"
#sphinx-rtd-theme = "*"
# required for tests to find imports
#confguard = {editable = true, path = "."}
mypy = "*"

[requires]
python_version = "3.11"
